#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fighters-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.fighters-container > div {
  flex: 1;
  padding: 10px;
}

.small-message {
  font-size: 0.8rem;
  margin-block: 0.5em;
  color: #666;
}

.first {
  font-size: 1rem;
  color: #f60000;
}